# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Django
db.sqlite3

# Media and static files
media/
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/
# Node.js
node_modules/


frontend/release-new/
